header {
  grid-area: header;
}

header nav {
  background: none !important;
}

header img {
  width: 45px;
}

header .inline li {
  position: relative;
  font-weight: 700;
}

header nav li a {
  color: var(--color-light) !important;
}

header .inline li .active-indicator {
  display: none;
  position: absolute;
  background-color: var(--color-secondary);
  width: 90%;
  left: 50%;
  margin-left: -45%;
  bottom: 15px;
  height: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

header .inline li.uk-active .active-indicator,
header .inline li:hover .active-indicator {
  display: block;
}
