.socials-sidepane {
  grid-area: side;
  gap: 0.25em;
}

.socials-sidepane a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25em;
  color: #999999;
}

.socials-sidepane a:hover {
  background-color: var(--color-secondary);
  color: var(--color-light);
  transition: all 0.7s;
}
