.App {
  display: grid;
  grid-template-areas:
    "header header"
    "side main";
  grid-template-rows: 80px auto;
  grid-template-columns: 2em auto;
  height: 100vh;
}

.App main {
  grid-area: main;
  overflow-y: auto;
}
